# .gitignore配置 | .gitignore configuration

# 需要上传的目录 | Path to upload
!/Anm2Player/
!/StreamingAssets/

# 不需要上传的目录 | Path to ignore
/ReadmePics/
/Resources/
/Plugins/
/Test/
/Scenes/
/Anm2Player/Demo/Fonts/

# 不需要上传的文件类型 | File type to ignore
*.pidb.meta
*.pdb.meta
*.mdb.meta

# 不需要上传的特定文件 | Specific file to ignore
/ReadmePics.meta
/Resources.meta
/Plugins.meta
/Test.meta
/Scenes.meta
/LICENSE
/README.md
/.editorconfig
/.gitignore
/UniversalRenderPipelineGlobalSettings.asset
/UniversalRenderPipelineGlobalSettings.asset.meta
